{% extends 'MensaBattleFacebookAppBundle::base.html.twig' %}

{% block body %}
<form action="{{ path('facebook_app_battle_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" />
</form>
{% endblock %}